
<section id="attr_{{name}}" class="attribute item{{#if access}} {{access}}{{/if}}{{#if deprecated}} deprecated{{/if}}{{#if extended_from}} inherited{{/if}}">
  <header><a name="config_{{name}}">{{! For backwards compatibility }}</a>
    <h1><span class="name">{{name}}</span><span class="type">{{#crossLink type}}{{/crossLink}}</span></h1>{{#if deprecated}}<span title="{{#if deprecationMessage}}{{deprecationMessage}}{{/if}}" class="flag deprecated">deprecated</span>{{/if}}
    {{#if access}}<span class="flag {{access}}">{{access}}</span>{{/if}}
    {{#if final}}<span class="flag final">final</span>{{/if}}
    {{#if static}}<span class="flag static">static</span>{{/if}}
    {{#if optional}}<span class="flag optional">optional</span>{{/if}}
    {{#if required}}<span class="flag required">required</span>{{/if}}
    {{#if readonly}}<span class="flag readonly">readonly</span>{{/if}}
  </header>
  <div class="description">
    <p>{{{attrDescription}}}</p>
  </div>{{#if default}}
  <p class="default">Default: {{default}}</p>{{/if}}
  {{#if emit}}
  <div class="emits">
    <h4>Fires event <span class='name'>{{name}}Change</span></h4>
    <p>
      Fires when the value for the configuration attribute `{{{name}}}` is
      changed. You can listen for the event using the `on` method if you
      wish to be notified before the attribute's value has changed, or
      using the `after` method if you wish to be notified after the
      attribute's value has changed.
      
    </p>
    <section class="params">
      <h4>Parameters:</h4>e<span class="type">{{#crossLink "EventFacade"}}{{/crossLink}}</span>
      <div class="description">
        An Event Facade object with the following
        attribute-specific properties added:
        
      </div>
      <ul>
        <li><span class="name">prevVal</span><span class="type">Any</span>
          <p class="description">The value of the attribute, prior to it being set.</p>
        </li>
        <li><span class="name">newVal</span><span class="type">Any</span>
          <p class="description">The value the attribute is to be set to.</p>
        </li>
        <li><span class="name">attrName</span><span class="type">{{#crossLink "String"}}{{/crossLink}}</span>
          <p class="description">The name of the attribute being set.</p>
        </li>
        <li><span class="name">subAttrName</span><span class="type">{{#crossLink "String"}}{{/crossLink}}</span>
          <p class="description">If setting a property within the attribute's value, the name of the sub-attribute property being set.</p>
        </li>
      </ul>
    </section>
  </div>{{/if}}
  {{#example}}
  <div class="example">
    <h4>Example:</h4>
    <div class="content">{{{.}}}</div>
  </div>{{/example}}
  <section class="meta">{{#if overwritten_from}}
    <p>Inherited from<a href="{{crossLinkRaw overwritten_from/class}}#attr_{{overwritten_from/name}}">
        {{overwritten_from/class}}
        </a>{{#if foundAt}}
      but overwritten in <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>{{/if}}
    </p>{{else}}
    {{#if extended_from}}
    <p>Inherited from<a href="{{crossLinkRaw extended_from}}#attr_{{name}}">
        {{extended_from}}
        </a></p>{{else}}
    {{#providedBy}}
    <p>Provided by the <a href="../modules/{{.}}.html">{{.}}</a> module.</p>{{/providedBy}}
    {{#if foundAt}}
    <p>Defined in<a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a></p>{{/if}}
    {{/if}}
    {{/if}}
    {{#if deprecationMessage}}
    <aside class="deprecated">Deprecated: {{deprecationMessage}}</aside>{{/if}}
    {{#if since}}
    <aside class="since">Available since {{since}}</aside>{{/if}}
  </section>
</section>